<ion-view view-title="Atrações & Eventos">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="false">
		<section class="wrapper wrapper-bg">
			
			<div class="list card">
				<div class="item item-image">
					<img src="img/card-evento-3.jpg">
				</div>
				<div class="item">
					<h2>Cheirinho de Hepta - A Festa</h2>
					<p>04/12/2016 às 16h</p>
				</div>
			</div>

			<div class="list card">
				<div class="item item-image">
					<img src="img/card-evento-2.jpg">
				</div>
				<div class="item">
					<h2>Saudação ao Solstício de Verão</h2>
					<p>23/12/2016</p>
				</div>
			</div>

			<div class="list card">
				<div class="item item-image">
					<img src="img/card-evento-1.jpg">
				</div>
				<div class="item">
					<h2>Desfile das Escolas de Samba do G. Especial</h2>
					<p>20/02/2017 até 23/02/2017</p>
				</div>
			</div>
			
		</section>
	</ion-content>
</ion-view>
