<ion-view view-title="Cadastro">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="true" class="padding">
		<section class="wrapper">
			<div class="btn-add-image">
				<a href="#"><img src="img/btn-add-image.png"></a>
			</div>

			<div class="padding form-box">
				<section class="login-box">
					<div class="list">
						<label class="item item-input item-custom item-outline item-stacked-label">
							<span class="input-label">Nome completo</span>
							<input type="text" class="input-custom" placeholder="insira seu nome">
						</label>
						<label class="item item-input item-custom item-outline item-stacked-label">
							<span class="input-label">Email</span>
							<input type="email" class="input-custom" placeholder="insira seu email">
						</label>
						<label class="item item-input item-custom item-outline item-stacked-label">
							<span class="input-label">Senha</span>
							<input type="password" class="input-custom" maxlength="12" placeholder="digite sua senha">
						</label>
						<label class="item item-input item-custom item-outline item-stacked-label">
							<span class="input-label">Aniversário</span>
							<input type="date" class="input-custom">
						</label>

						<a href="#/app/inicio" class="button button-full button-large button-balanced button-max">Cadastrar</a>
					</div>
				</section>

				<a class="button button-clear button-stable" href="#/app/login">Já possui uma conta? <strong>Faça o login</strong></a>
			</div>
			
		</section>
	</ion-content>
</ion-view>
