<ion-view view-title="">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="">
		<section class="extrato-container">
			<header class="row">
				<div class="col text-center">
					<h1 class="titulo-extrato">Extrato da Conta</h1>
				</div>
			</header>

			<h2 class="titulo-section">resumo da reserva</h2>
			<div class="row icon-extrato-row">
				<div class="col col-legenda">
					<span>Nome do Hóspede</span>
					<p>Mercio Medina Gomes</p>
				</div>
			</div>
			<div class="row icon-extrato-row">
				<div class="col col-legenda col-50">
					<span>Reserna Nº:</span>
					<p>004560-1</p>
				</div>
				<div class="col col-legenda col-50">
					<span>Apto.:</span>
					<p>1350</p>
				</div>
			</div>
			<div class="row icon-extrato-row">
				<div class="col col-legenda col-50">
					<span>Check In:</span>
					<p>18/04/2016</p>
				</div>
				<div class="col col-legenda col-50">
					<span>Check Out:</span>
					<p>26/04/2016</p>
				</div>
			</div>
			
			<h2 class="titulo-section">descrição do consumo</h2>
			<ion-list>
			    <ion-item class="itens-consumo">
			    	<p class="data">18/07</p>
			    	<p class="local">Bar da Piscina</p>
			    	<p class="valor">R$ 30,00</p>
			    </ion-item>
			    <ion-item class="itens-consumo">
			    	<p class="data">19/07</p>
		    		<p class="local">Restaurante</p>
		    		<p class="valor">R$ 145,00</p>
			    </ion-item>
			    <ion-item class="itens-consumo">
			    	<p class="data">20/07</p>
		    		<p class="local">Restaurante Solar</p>
		    		<p class="valor">R$ 220,00</p>
			    </ion-item>
		    </ion-list>

			<div class="row">
				<div class="col">
					<div class="valor-total">
		    			<p>Total</p>
						<p>R$ 395<span>,00</span></p>
		    		</div>
				</div>
			</div>
		</section>
	</ion-content>
</ion-view>