<ion-view view-title="GuestOne">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="true">
		<section class="guestone-container">
			<header class="row header-guestone-pool">
				<div class="col text-center">
					<h1 class="titulo">Serviço de Quarto</h1>
					<p class="padding">1. Lorem ipsum dolor sit amet, consecteti adipis sit amet lipscing elit. Praesent eros urna pret.</p>
				</div>
			</header>

			<div class="row icon-guestone-pool-row">
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-excelente.png">
							</figure>
						</a>
					</div>
				</div>
				
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-bom.png">
							</figure>
						</a>
					</div>
				</div>
			</div>

			<div class="row icon-guestone-pool-row">
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-regular.png">
							</figure>
						</a>
					</div>
				</div>
				
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-ruim.png">
							</figure>
						</a>
					</div>
				</div>
			</div>

			<div class="row icon-guestone-pool-row">
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-pessimo.png">
							</figure>
						</a>
					</div>
				</div>
				
				<div class="col col-50 text-center">
					<div class="item-guestone-icon">
						<a href="#/app/guestone-obrigado">
							<figure class="thumbnail">
								<img src="img/icon-naousei.png">
							</figure>
						</a>
					</div>
				</div>
			</div>

			
		</section>

	</ion-content>
</ion-view>