<ion-view view-title="Guest Service">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content scroll="false">
		<section class="wrapper">
			
			<div class="obrigado text-center">
				<h1>Obrigado</h1>
				<a href="#/app/guestserv-andamento"><img src="img/ico-obrigado.png"></a>
				<p>Você poderá acompanhar o andamento da sua solicitação na tela inicial do <strong>Guest Service</strong></p>
			</div>
			
		</section>
	</ion-content>
</ion-view>