<ion-view view-title="Obrigado">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content scroll="false">
		<section class="wrapper">
			
			<div class="obrigado">
				<h1>Obrigado</h1>
				<a href="#/app/inicio"><img src="img/ico-obrigado.png"></a>
				<p>Sua participação é essencial para aprimorarmos o atendimento aos clientes do <strong>Hotel Modelo</strong></p>
			</div>
			
		</section>
	</ion-content>
</ion-view>
