<ion-view view-title="GuestOne">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="true">
		<section class="guestone-container">
			<header class="row header-guestone">
				<div class="col text-center">
					<h1 class="titulo">Escolha o Departamento</h1>
					<p>Isso nos ajuda a tornar sua estadia ainda melhor!</p>
				</div>
			</header>

			<div class="row icon-guestone-row">
				
				<div class="col col-50 text-center">
					<div class="item-guestone-card">
						<span class="ico-check"></span>
						<a href="#/app/">
							<figure class="thumbnail">
								<img src="img/img-restaurante.jpg">
							</figure>
							
							<span>Restaurante</span>
						</a>
					</div>
				</div>
				
				<div class="col col-50 text-center">
					<div class="item-guestone-card">
						<span class="ico-check ico-none"></span>
						<a href="#/app/">
							<figure class="thumbnail">
								<img src="img/img-clube.jpg">
							</figure>
							
							<span>Clube da Piscina</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row icon-guestone-row">
				
				<div class="col col-50 text-center">
					<div class="item-guestone-card">
						<span class="ico-check ico-none"></span>
						<a href="#/app/">
							<figure class="thumbnail">
								<img src="img/img-higienizacao.jpg">
							</figure>
							
							<span>Higienização</span>
						</a>
					</div>
				</div>
				
				<div class="col col-50 text-center">
					<div class="item-guestone-card">
						<span class="ico-check"></span>
						<a href="#/app/">
							<figure class="thumbnail">
								<img src="img/img-servico.jpg">
							</figure>
							
							<span>Serviço de Quarto</span>
						</a>
					</div>
				</div>
			</div>
		</section>

	</ion-content>
</ion-view>