<ion-view view-title="Inicio">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>
	
	<ion-content scroll="true">
		<section class="wrapper wrapper-menu">
			
			<header class="header-inicio">
				<h1 class="titulo">Outubro <span>2016</span></h1>
				<p class="weather">Sexta-feira, 18 - Rio de Janeiro, 41ºC</p>
			</header>		
			
			<section class="menu-cards">
				
				<article class="card item-menu-card">
					<a href="#/app/room-service">
						<figure class="thumbnail">
							<img src="img/ico-room_service.png">
						</figure>
						<div class="card-title">
							<h2>Room Service</h2>
						</div>
					</a>
				</article>

				<article class="card item-menu-card">
					<a href="#/app/atracoes-eventos">
						<figure class="thumbnail">
							<img src="img/ico-atracoes_eventos.png">
						</figure>
						<div class="card-title">
							<h2>Atrações &amp; Eventos</h2>
						</div>
					</a>
				</article>

				<article class="card item-menu-card">
					<a href="#/app/extrato-conta">
						<figure class="thumbnail">
							<img src="img/ico-extrato_conta.png">
						</figure>
						<div class="card-title">
							<h2>Extrato da Conta</h2>
						</div>
					</a>
				</article>

				<article class="card item-menu-card">
					<a href="#/app/lista-ramais">
						<figure class="thumbnail">
							<img src="img/ico-lista_ramais.png">
						</figure>
						<div class="card-title">
							<h2>Lista de Ramais</h2>
						</div>
					</a>
				</article>

				<article class="card item-menu-card">
					<a href="#/app/guestone">
						<figure class="thumbnail">
							<img src="img/ico-guestone.png">
						</figure>
						<div class="card-title">
							<h2>GuestOne</h2>
						</div>
					</a>
				</article>

				<article class="card item-menu-card">
					<a href="#/app/guest-service">
						<figure class="thumbnail">
							<img src="img/ico-guest_service.png">
						</figure>
						<div class="card-title">
							<h2>Guest Service</h2>
						</div>
					</a>
				</article>

			</section>
		</section>
	</ion-content>
</ion-view>