<ion-view view-title="Inicio">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>
	
	<ion-content overflow-scroll="true">
	
		<section class="menu-container">
			<header class="row header-inicio">
				<div class="col text-center">
					<h1 class="titulo">Outubro <span>2016</span></h1>
					<p>Sexta-feira, 18 - Rio de Janeiro, 41ºC</p>
				</div>
			</header>

			<div class="row icon-row">
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/room-service">
							<figure class="thumbnail">
								<img src="img/ico-room_service.png">
							</figure>
							
							<span>Room Service</span>
						</a>
					</div>
				</div>
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/atracoes-eventos">
							<figure class="thumbnail">
								<img src="img/ico-atracoes_eventos.png">
							</figure>
							
							<span>Atrações &amp; Eventos</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row icon-row">
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/extrato-conta">
							<figure class="thumbnail">
								<img src="img/ico-extrato_conta.png">
							</figure>
							
							<span>Extrato da Conta</span>
						</a>
					</div>
				</div>
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/lista-ramais">
							<figure class="thumbnail">
								<img src="img/ico-lista_ramais.png">
							</figure>
							
							<span>Lista de Ramais</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row icon-row">
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/guestone">
							<figure class="thumbnail">
								<img src="img/ico-guestone.png">
							</figure>
							
							<span>GuestOne</span>
						</a>
					</div>
				</div>
				<div class="col col-50 text-center">
					<div class="item-menu-card">
						<a href="#/app/guest-service">
							<figure class="thumbnail">
								<img src="img/ico-guest_service.png">
							</figure>
							
							<span>Guest Service</span>
						</a>
					</div>
				</div>
			</div>
		</section>

	</ion-content>
</ion-view>