<ion-view view-title="Lista de Ramais">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content scroll="true">
		
		<div class="padding box-busca">
			<label class="item item-input item-outline">
				<input type="text" class="input-outline" placeholder="digite para buscar o ramal" ng-model="search.string">
				<a ng-if="search.string != ''" on-touch="search.string=''"><i class="icon ion-ios-close light placeholder-icon"></i></a>
			</label>
		</div>

		<section class="">
			<div class="list box-lista">
				<div class="item">
					<h2 class="ramal-num">Recepção <strong class="calm">3300</strong></h2>
					<p>Atendimento 24h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Restaurante <strong class="calm">3000</strong></h2>
					<p>Aberto a partir 14h até 0h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Piscina <strong class="calm">3500</strong></h2>
					<p>Aberto a partir 8h até 22h</p>
				</div>
				
				<div class="item">
					<h2 class="ramal-num">Recepção <strong class="calm">3300</strong></h2>
					<p>Atendimento 24h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Restaurante <strong class="calm">3000</strong></h2>
					<p>Aberto a partir 14h até 0h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Piscina <strong class="calm">3500</strong></h2>
					<p>Aberto a partir 8h até 22h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Recepção <strong class="calm">3300</strong></h2>
					<p>Atendimento 24h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Restaurante <strong class="calm">3000</strong></h2>
					<p>Aberto a partir 14h até 0h</p>
				</div>

				<div class="item">
					<h2 class="ramal-num">Piscina <strong class="calm">3500</strong></h2>
					<p>Aberto a partir 8h até 22h</p>
				</div>
			</div>
		</section>

	</ion-content>
</ion-view>