<ion-view>
	<ion-content class="no-header">
		<section class="wrapper wrapper-bg">
			
			<div class="logo">
				<img src="img/logo.png" alt="Hotel Plus">
			</div>

			<div class="padding form-box">
				<section class="login-box">
					<div class="list">
						<label class="item item-input item-custom item-stacked-label">
							<span class="input-label">Usuário</span>
							<input type="text" class="input-custom" placeholder="insira seu nome de usuario">
						</label>
						<label class="item item-input item-custom item-stacked-label">
							<span class="input-label">Senha</span>
							<div class="box-password">
								<input type="password" maxlength="12" class="input-custom input-half" placeholder="digite sua senha"><a href="#" class="button button-small button-clear button-dark">esqueci a senha</a>
							</div>
						</label>
						<!--label class="item item-custom">
							<ion-list>
								<ion-checkbox class="checkbox checkbox-energized">Português</ion-checkbox>
								<ion-checkbox class="checkbox checkbox-energized">English</ion-checkbox>	
							</ion-list>
						</label-->
						<a href="#/app/welcome" class="button button-full button-large button-energized button-max">entrar</a>
					</div>
				</section>

				<a class="button button-clear button-light" href="#/app/cadastro">Não tem uma conta? Cadastre-se</a>
			</div>

		</section>
	</ion-content>
</ion-view>

