<ion-view view-title="Resumo do Pedido">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content overflow-scroll="true">
		<section class="roomserv-wrapper">
			
			<ion-list show-delete="false" can-swipe="true">
			    <ion-item href="#" class="item-icon-right item-swiped">
			    	<p>1</p>
			    	<p>Frango a Passarinho Assado</p>

			    	<ion-option-button class="button-assertive button-swiped"><i class="ion-close-circled"></i> Excluir</ion-option-button>
			    </ion-item>
			    <ion-item href="#" class="item-icon-right item-swiped">
			    	<p>3</p>
			    	<p>Costelinha de Porco Recheada</p>

			    	<ion-option-button class="button-assertive button-swiped"><i class="ion-close-circled"></i> Excluir</ion-option-button>
			    </ion-item>
			    <ion-item href="#" class="item-icon-right item-swiped">
			    	<p>2</p>
			    	<p>Vanilla Cuba Libre</p>

			    	<ion-option-button class="button-assertive button-swiped"><i class="ion-close-circled"></i> Excluir</ion-option-button>
			    </ion-item>
			    <ion-item href="#" class="item-icon-right item-swiped">
			    	<p>1</p>
			    	<p>Caju Cremoso</p>

			    	<ion-option-button class="button-assertive button-swiped"><i class="ion-close-circled"></i> Excluir</ion-option-button>
			    </ion-item>
		    </ion-list>

		    <div class="row">
		    	<div class="col">
		    		<div>
		    			<h2>Total</h2>
						<p>R$ 54<sup>,00</sup></p>
		    		</div>
		    		<a href="#/app/room-obrigado" class="button button-full button-large button-balanced button-max">enviar pedido</a>
		    	</div>
		    </div>

		</section>
	</ion-content>
</ion-view>