<ion-view view-title="Room Service">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>
		<section class="roomserv-wrapper">
			
			<ion-list>
				<div ng-repeat="group in groups">
					<ion-item class="item-icon-right item-pai" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
						<div class="item-text-center item-text-wrap">{{group.name}}</div>
						<i class="icon positive" ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
					</ion-item>

					<ion-item class="item-accordion" ng-repeat="item in group.childItems" ng-show="isGroupShown(group)">
						<div class="item-text-center item-text-wrap item-flex">
							<a href="#/app/room-service-incluir">{{item.childName}}</a>
							<p class="item-preco">R$ {{item.childPrice}}</p>
						</div>
					</ion-item>
				</div>
			</ion-list>

		</section>
	</ion-content>
</ion-view>