<ion-view view-title="Room Service">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button>
		</ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
    </ion-nav-bar>

	<ion-content>
		<section class="roomserv-wrapper">
			<ion-list>
				<ion-item>
					<div>
						<h2>Titulo</h2>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
				</ion-item>
				<ion-item>
					<div>
						<h2>Titulo</h2>
						<p>Lorem ipsum dolor sit amet.</p>
					</div>
				</ion-item>
			</ion-list>
			<!-- accordion #2 -->
			<!-- <ion-list>
				<div ng-repeat="group in groups">
					<ion-item class="item-light" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
						<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus' "></i>&nbsp;Group {{group.name}}
					</ion-item>
					<ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
						{{item}}
					</ion-item>
				</div>
			</ion-list> -->

			<!-- accordion #1 -->
			<!-- <ion-list>
				<ion-item ng-repeat="item in items" ng-click="toggleItem(item)" class="item item-text-wrap">
					<div class="item-custom-room" ng-class="isItemShown(item) ? 'item-expand active' : 'item-expand inactive'">
						<h2>{{ item.title }}</h2>
						<p>{{ item.text }}</p>
					</div>
				</ion-item>
			</ion-list> -->
		</section>
	</ion-content>
</ion-view>