<ion-view>
	<ion-content scroll="false" class="no-header">
		<section class="wrapper wrapper-bg">

			<div class="welcome">
				<h1>Olá, Emily!</h1>
				<img src="img/welcome.png" alt="">
				<p>Esse <strong>pequeno tutorial</strong> vai te ajudar a aproveitar ao máximo sua estadia.</p>
			</div>
			
			

			<div class="row">
				<div class="col col-50">
					<a href="#/app/inicio" class="button button-block button-max button-large button-outline button-light">Pular</a>
				</div>
				<div class="col col-50">
					<a href="#/app/inicio" class="button button-block button-max button-large button-balanced">Próxima</a>
				</div>
			</div>
		</section>
	</ion-content>
</ion-view>
